@charset "UTF-8"; 

@font-face {
    font-family: 'Saiyan';
    src:url('../fontes/Saiyan-Sans\ Left\ Oblique.ttf') format('opentype');
}

:root {
    --font-saiyan-Sans: 'Saiyan';
}

* {
    padding: 0px; 
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(2, 99, 226);
    background-image: url(../imagens/fundo-dbz);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color:#000084 ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
}

img.titulo {
    display: flex;
    margin: auto;
    width: 400px;
    height: 160px;
}

menu {
    display: flex;
    width: 800px;
    margin: auto;
}

a.menus {
    text-decoration: none;
    color: white;
    padding: 10px;
}
a.menus:hover {
    background-color: rgb(16, 87, 179);
}

a#abertoz {
    background-color: rgb(16, 87, 179);
}

a#abertos {
    background-color: rgb(16, 87, 179);
}

a#abertof {
    background-color: rgb(16, 87, 179);
}

main {
    width: 760px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
}

h1 {
    text-align: center;
    padding: 50px 0px 0px 0px;
    font-family: var(--font-saiyan-Sans);
    font-size: 3em;
    color: rgb(211, 1, 1);
    text-shadow: 1px 1px 2px black;
}

h2 {
    padding: 20px 0px;
}

h2#filmes {
    text-align: center;
    margin-top: 20px;
}

p {
    margin: 30px 0px;
    font-size: 1.2em;
    text-align: justify;
}

p.filmes {
    width: 500px;
    margin: auto;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2px 0px;
}

img.sagas{
    display: flex;
    width: 760px;
    margin: auto;
}

img.filmes {
    width: 500px;
    display: flex;
    margin: auto;
}

h3 {
    background-color: black;
    color: white;
    margin: auto;
    width: 800px;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
}

footer {
    background-color: black;
    color: white;
    margin: auto;
    width: 800px;
    display:flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    padding-bottom: 20px;
    display: flex;
}

footer p {
    font-size: 1.1em;
    text-align: center;
    margin: 10px;
}